.increment{
    text-align: center;
    height: 24px;
    width: 24px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
}
.decrement{
    text-align: center;
    height: 24px;
    width: 24px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
}
.stepper-input{
    display: flex;
    color: #A04040;
    max-width: 150px;
    margin-left: 17%;
    margin-bottom:3%;
}
.quantity{
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 17px;
    border: 1px solid gray;
}