header{
    background: white;
    padding: 30px 32px;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.033);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slideUp 300ms linear;
  
}
.containerHeader{
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;
}
.search{
    margin-left: 64px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}
.search-form{
    display: flex;
    display: -webkit-flex;
}
.search-keyword{
        height: 36px;
        border: 1px solid orange;
        padding: 0 16px;
        border-radius: 2px 0 0 2px;
        width: 100%;
        max-width: 330px;
    }
    .search-button{
        border-radius: 0 2px 2px 0;
        background:orange url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png) center no-repeat;
        width: 96px;
}
.cart{
    display: flex;
    display: -webkit-flex;
    margin-right: 10%;
    position: relative;
    z-index: 99;
}
.cart-info table{
    font-size: 14px;
    color:orange;
    text-align: right;
  
}
tr{
    padding: 0;
    margin: 0;
}
td{
    padding: 0 4px;
    line-height: 16px;
}
.cart-icon{
    margin-left: 16px;
    z-index: 99;
    position: relative
}
.cart-preview{
    display: none;
    background: white;
    border: 1px solid whitesmoke;
}
.cart-preview.active{
    z-index: 99;
    display: block;
    position: absolute;
    top: 48px;
    right: 0;
    width: 360px;
    height: 388px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.action-block{
    background: white;
    position: absolute;
    bottom:0;
    padding: 16px;
    width: 100%;
  
}

.empty-cart{
    text-align: center;

}
.cart-items{
    height: 320px;
    width: 360px;
}
.cart-item{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 8px;
    }
    .cartpic{
        min-height: 20px;
        max-height: 20px;
    }
.product_image{
        max-height: 30px;
    }
